@model IEnumerable<Jarboo.Admin.DAL.Entities.Employee>

@{
    ViewBag.Title = "Choose employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder()
            .Add(Url.Action(MVC.Employees.Index()), "Employees")
            .Add("Choose employee")
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    @foreach (var employee in Model)
    {
        <p>
            <a class="btn btn-primary btn-lg btn-block" href="@Url.Action(MVC.Employees.Tasks(employee.EmployeeId))">
                @employee.FullName
            </a>
        </p>
    }
</div>