@using SmartAdminMvc
@model IEnumerable<Jarboo.Admin.DAL.Entities.Employee>

@{
    ViewBag.Title = "Choose employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    @Html.Partial("_RibbonRefresh")
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @Html.RenderBreadCrumbs(this, new BreadCrumbItem("Choose employee"))
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    @foreach (var employee in Model)
    {
        <p>
            <a class="btn btn-primary btn-lg btn-block" href="@Url.Action(MVC.Tasks.NextTask(employee.EmployeeId))">
                @employee.FullName
            </a>
        </p>
    }
</div>