@model Jarboo.Admin.BL.Models.EmployeeEdit

@{
    ViewBag.Title = "Employee - " + Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs small">
    <span class="item">
        <strong>
            <a href="/employees">Employees</a>
        </strong>
    </span>
    <span class="item">@Model.FullName ( Edit )</span>
</div>

@Html.Partial(MVC.Employees.Views._Form, Model)