@model  Jarboo.Admin.Web.Models.Answer.AnswerListViewModel
@{
    Layout = null;
}

<div id="answers-body" class="chat-body custom-scroll">
    <ul>
        @foreach (var ans in Model.Answers)
        {
            <li class="message">
                <strong> @Html.ActionLink(ans.Employee.FullName, MVC.Employees.View(ans.Employee.EmployeeId), new { @class = "username" })</strong>
                <div class="message-text">
                    <time>
                        @ans.DateCreated
                    </time>
                    @ans.Message
                    <i class="fa fa-smile-o txt-color-orange"></i>
                </div>
            </li>
        }
    </ul>
</div>
