<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Admin\Desktop\Jarboo.Admin.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>admin.jarboo.com</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Jarboo.Admin.DAL.Context" Order="1" Enabled="False">
          <Destination Path="Data Source=YOUFIRM,1433;Initial Catalog=Jarboo.Admin;User ID=jarboo;Password=jarb00" Name="Data Source=YOUFIRM,1433;database=Jarboo.Admin;User ID=jarboo;Password=jarb00;MultipleActiveResultSets=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Jarboo.Admin.mdf;Initial Catalog=Jarboo.Admin;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jarboo.Admin.DAL.Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=Jarboo.Admin;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Jarboo.Admin.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jarboo.Admin.DAL.Context-Web.config Connection String">
      <ParameterValue>Data Source=YOUFIRM,1433;database=Jarboo.Admin;User ID=jarboo;Password=jarb00;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>