@{
    ViewBag.Title = "Helpful guides for starters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Guide</h1>

<p>
    As an employee / freelancer in Jarboo, there are a couple of things we expect you do. These courses below will go through some important things.
</p>
<p>
    At least see the introduction courses and the courses relevant for your job title.
</p>
<p>
    Log in on <a target="_blank" href="http://www.saxo.com">www.saxo.com</a> first, with the following information:
    <dl>
        <dt>Login</dt>
        <dd>learning@jarboo.com
        </dd>
        <dt>Password</dt>
        <dd>Jar011Jarboo
        </dd>
    </dl>
</p>

<h2>Introduction courses</h2>
<ul>
    <li><a target="_blank" href="http://www.saxo.com/user/bookshelfinfo?libraryId=2715309">How to be an employee</a></li>
    <li><a target="_blank" href="http://www.saxo.com/user/bookshelfinfo?libraryId=2715307">How we work with Git</a></li>
    <li><a target="_blank" href="http://www.saxo.com/user/bookshelfinfo?libraryId=2734388">Be an efficient developer</a></li>
</ul>

<h2>Job specific courses:</h2>
<ul>
    <li><a target="_blank" href="http://www.saxo.com/user/bookshelfinfo?libraryId=2715310">How to be an Architect</a></li>
    <li><a target="_blank" href="http://www.saxo.com/user/bookshelfinfo?libraryId=2715311">How to be a Developer</a></li>
</ul>