@model Jarboo.Admin.Web.Models.Project.ProjectsListViewModel

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @*<div class="alert alert-info">
                    <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
                </div>*@
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget well" id="wid-id-0">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                    <h2>Widget Title </h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="dataTables_wrapper form-inline no-footer">
                            <div class="dt-toolbar"><div class="col-xs-12 col-sm-6"><div id="example_filter" class="dataTables_filter"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" class="form-control" placeholder="" aria-controls="example"></label></div></div><div class="col-xs-12 col-sm-6"><div class="dataTables_length" id="example_length"><label><select name="example_length" aria-controls="example" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div></div>
                            <table class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                <thead>
                                    <tr>
                                        <th class="sorting">
                                            Name
                                        </th>
                                        @if (Model.ShowCustomer)
                                        {
                                            <th class="sorting">
                                                Customer name
                                            </th>
                                        }
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var project in Model.Projects)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => project.Name)
                                            </td>
                                            @if (Model.ShowCustomer)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => project.Customer.Name)
                                                </td>
                                            }
                                            <td>
                                                @Html.ActionLink("View", MVC.Projects.View(project.ProjectId))
                                            </td>
                                        </tr>
                                    }

                                    @if (Model.Projects.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="3">
                                                No project has been created.
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="dt-toolbar-footer"><div class="col-xs-12 col-sm-6"><div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing <span class="txt-color-darken">1</span> to <span class="txt-color-darken">15</span> of <span class="text-primary">15</span> entries</div></div><div class="col-xs-12 col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><ul class="pagination pagination-sm"><li class="paginate_button previous disabled" aria-controls="example" tabindex="0" id="example_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="example" tabindex="0"><a href="#">1</a></li><li class="paginate_button next disabled" aria-controls="example" tabindex="0" id="example_next"><a href="#">Next</a></li></ul></div></div></div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
        </div>
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->