@using SmartAdminMvc
@model Jarboo.Admin.BL.Models.ProjectEdit

@{
    ViewBag.Title = "New project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    @Html.Partial("_RibbonRefresh")

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @Html.RenderBreadCrumbs(this,
            new BreadCrumbItem(MVC.Customers.View(Model.CustomerId), ViewBag.Customer.Name),
            new BreadCrumbItem("New project"))
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->

@Html.Partial(MVC.Projects.Views._Form, Model)