@model Jarboo.Admin.BL.Models.ProjectEdit

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder(this)
            .Add(MVC.Customers.View(Model.CustomerId), ViewBag.Customer.Name)
            .Add(Model.Name)
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->

@Html.Partial(MVC.Projects.Views._Form, Model)

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form1').validate({
                // Rules for form validation
                rules: {
                    Name: {
                        required: true
                    },
                    CustomerId: {
                        required: true,
                    }
                },

                // Messages for form validation
                messages: {
                    Name: {
                        required: 'Enter project name',
                    },
                    CustomerId: {
                        required: 'CustomerId required'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

        });

    </script>
}