@using Jarboo.Admin.Web.Models.Project
@model System.Collections.Generic.List<Jarboo.Admin.DAL.Entities.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new BreadCrumbsBuilder()
    .Add("Projects")
    .Done())

<p>
    <a class="btn btn-success" href="@Url.Action(MVC.Projects.Create())">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add project
    </a>
</p>

@Html.Partial(MVC.Projects.Views._List, new ProjectsListViewModel()
                                            {
                                                Projects = Model,
                                                ShowCustomer = true
                                            })