.btn-form {
    display: inline;
}

a.btn i {
    margin-right: 5px;
}
button.btn i {
    margin-right: 5px;
}

form.filter .form-group:last-child {
    margin-top: -15px;
}

.data-table-filter .input-daterange input.form-control {
    width: 100px;
}

div.dataTables_filter label {
    float: left;
}

.data-table-filter {
    display: none;
    float: left;
    margin-left: 5px;
}

.data-table-filter > * {
    margin-left: 5px;
}

form.logout-form {
    margin-top: 11px;
}

form.logout-form button {
    height: 28px;
}

.jarviswidget .widget-body {
    min-height: 0 !important;
}

input[aria-invalid="true"].form-control {
    border: 1px solid red;
}

td span.label {
    position: relative;
    top: -4px;
}