body .site-container {
    padding-top: 60px;
}

.breadcrumbs {
    margin-bottom: 20px;
    color: #000000;
    font-size: 22px;
    line-height: 30px;
}

    .breadcrumbs.small {
        font-size: 20px;
    }

    .breadcrumbs .item {
        position: relative;
        margin-left: 21px;
    }

        .breadcrumbs .item:before {
            position: absolute;
            top: 5px;
            left: -28px;
            width: 30px;
            height: 30px;
            background: no-repeat center center;
            background-image: url(data:image/gif;base64,R0lGODlhDQASALMAAP///wAAAOHh4R4eHn5+fvz8/MnJyQ8PD1paWvDw8CEhIYGBga6urktLS5OTkwAAACH5BAAAAAAALAAAAAANABIAAAQ+EEgnpL1gBVWxZEE4dFiBhMHoASaqeq1IXnE6W/VbNm7iGQcU4RcMDTFAIVGJLAaOl6RxJRhMV4AqFOvDRgAAOw==);
            content: '';
        }

    .breadcrumbs.small .item:before {
        top: 0;
    }

    .breadcrumbs .item:first-child {
        margin-left: 0;
    }

        .breadcrumbs .item:first-child:before {
            display: none;
        }

    .breadcrumbs .item strong {
        font-weight: 600;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

.start-page h1,
.start-page h2,
.start-page h3,
.start-page h4 {
    display: inline-block;
}

.delete-btn-form {
    display: inline;
}

a.btn i {
    margin-right: 5px;
}

form.filter .form-group:last-child {
    margin-top: -15px;
}