<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="UseTrello" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="TrelloApiKey" value="aaafff4be7be407df4e5d9f83539be05" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="TrelloToken" value="300901ff0c09f4edd8351053bdc19a9203160d12c55a071e66a59380eebba003" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="UseGoogleDrive" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleDrivePath" value="Tasks\" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleDriveTemplatePath" value="Tasks\Template.gdoc" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleClientId" value="396782749590-vk4ke45s2ujb2d1p2cn99hpvaicran8t.apps.googleusercontent.com" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleClientSecret" value="qsdPoKiA6Y1z5opofXXuuZph" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleRefreshToken" value="1/5oURIOSxISbwTPmqd6BHJyh1EvQ62wQyFyAHi960JkA" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>