@model Jarboo.Admin.Web.Models.Documentation.DocumentationDelete

@using (@Html.BeginForm(MVC.Documentations.Delete(), FormMethod.Post, new { @class = "delete-btn-form"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.DocumentationId)
    @Html.HiddenFor(x => x.ProjectId)

    <button class="btn btn-danger btn-xs" type="submit"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete</button>
}
