@model Jarboo.Admin.BL.Models.DocumentationEdit

@{
    ViewBag.Title = "New documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder()
            .Add(Url.Action(MVC.Documentations.Index()), "Documentations")
            .Add("New documentation")
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    @Html.Partial(MVC.Documentations.Views._Form, Model)
</div>

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form1').validate({
                // Rules for form validation
                rules: {
                    ProjectId: {
                        required: true,
                        number: true
                    },
                    Type: {
                        required: true,
                        number: true
                    },
                    DocumentLink: {
                        required: true
                    }                    
                },

                // Messages for form validation
                messages: {
                    DocumentLink: {
                        required: 'DocumentLink required',
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

        });

    </script>
}