@model Jarboo.Admin.BL.Models.DocumentationEdit

@{
    ViewBag.Title = "Documentation ( Edit )";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder(this)
            .Add(MVC.Customers.View(ViewBag.Project.CustomerId), ViewBag.Project.Customer.Name)
            .Add(MVC.Projects.View(ViewBag.Project.ProjectId), ViewBag.Project.Name)
            .Add("Documentation ( Edit )")
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->

<div id="content">
    @Html.Partial(MVC.Documentations.Views._Form, Model)
</div>