@using Jarboo.Admin.Integration
@using SmartAdminMvc
@{
    var viewLinkHref = User.Identity.IsAuthenticated ? Url.Action(MVC.Accounts.View()) : "javascript:void(0);";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="login-info">
        <span>
            <a href="@viewLinkHref">
                @Html.Gravatar((string) ViewBag.CurrentUser.Email, 50, GravatarRating.Default, GravatarDefaultImage.Identicon, new {@class = "online", alt = "me"})
                <span>@ViewBag.CurrentUser.DisplayName</span>
            </a>
        </span>
    </div>
}