@{
    var viewLinkHref = User.Identity.IsAuthenticated ? Url.Action(MVC.Accounts.View()) : "javascript:void(0);";
}

<div class="login-info">
    <span>
        <a href="@viewLinkHref">
            <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
            <span>@ViewBag.CurrentUser.DisplayName</span>
        </a>
    </span>
</div>