<div class="login-info">
    <span>
        <a href="@Url.Action(MVC.Accounts.View())">
            <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
            <span>@ViewBag.CurrentUser.DisplayName</span>
        </a>
    </span>
</div>