@using System.Web.Optimization

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script> if (!window.jQuery) { document.write('<script src="/scripts/jquery-2.1.1.min.js"><\/script>'); } </script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script> if (!window.jQuery.ui) { document.write('<script src="/scripts/libs/jquery-ui-1.10.3.min.js"><\/script>'); } </script>

<!-- Link to cdnjs CDN's underscore -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>

<!-- IMPORTANT: SmartAdmin Core -->
@Scripts.Render("~/scripts/smartadmin")

@if (Request.IsAuthenticated)
{
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/scripts/plugin/pace/pace.min.js"></script>
}

<!-- DO NOT REMOVE : GLOBAL FUNCTIONS! -->
<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        //drawBreadCrumb();
    });
</script>

@if (@Model is HelperResult)
{
    @Model
}
<!-- BEGIN: Underscore Template Definition. -->
<script type="text/template" id="deteleBtnTemplete">
    <form method="post" class="delete-btn-form pull-left" action="<%- rc.action %>">
        <input type="hidden" value="<%- rc.token %>" name="__RequestVerificationToken" />
        <input type="hidden" value="<%- rc.id %>" name="id" />
        <input type="hidden" value="<%- rc.id %>" name="returnUrl" />
        <button type="submit" class="btn btn-danger btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span> Delete</button>
    </form>
</script> 
<!-- Your GOOGLE ANALYTICS CODE Below-->
    @*<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'xx-xxxxxxxx-x']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>*@

