@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new BreadCrumbsBuilder()
    .Add("Tasks")
    .Done())

<p>
    <a class="btn btn-success" href="@Url.Action(MVC.Tasks.Create())">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add task
    </a>
</p>

@Html.Action("List", "Tasks", new { showProject = true})