@using Jarboo.Admin.BL.Filters
@using Jarboo.Admin.Web.Models.Project
@using SmartAdminMvc
@model Jarboo.Admin.DAL.Entities.Customer

@{
    ViewBag.Title = "Customer - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    @Html.Partial("_RibbonRefresh")
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @Html.RenderBreadCrumbs(this, new BreadCrumbItem(Model.Name))
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Projects
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    
    @if (this.Can(MVC.Projects.Create()))
    {
        <p>
            <a class="btn btn-success" href="@Url.Action(MVC.Projects.Create(Model.CustomerId))">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add project
            </a>
        </p>
    }
   
    @Html.Action(MVC.Projects.ActionNames.List, MVC.Projects.Name, new
                                                                       {
                                                                           projectFilter = new ProjectFilter().ByCustomerId(Model.CustomerId)
                                                                       })
</div>