@using Jarboo.Admin.Web.Models.Project
@model Jarboo.Admin.DAL.Entities.Customer

@{
    ViewBag.Title = "Customer - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder()
            .Add(Url.Action(MVC.Customers.Index()), "Customers")
            .Add(Model.Name)
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Projects
                @*<span>
                        >
                        Overview
                    </span>*@
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <p>
        <a class="btn btn-success" href="@Url.Action(MVC.Projects.Create(Model.CustomerId))">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add project
        </a>
    </p>

    @Html.Partial(MVC.Projects.Views._List, new ProjectsListViewModel()
                                            {
                                                Projects = Model.Projects
                                            })
</div>